body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 700px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #e1e3e2;
}

.wrapper .top {
  margin: 0 auto;
  width: 700px;
  min-height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /*border: 1px solid black;*/
}

.wrapper .top header {
  margin: 0 auto;
  width: 700px;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #b4cfc2;
  /*border: 1px solid blue;*/
}

.wrapper .top header h2 {
  padding-left: 20px;
  color: white;
}

.wrapper .top main {
  margin: 0 auto;
  width: 700px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #b4cfc2;
  /*border: 1px solid blue;*/
}

.wrapper .top main .burger {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #e1e3e2;
}

.wrapper .top main .burger h3 {
  margin: auto 20px;
  color: #adc4b9;
}

.wrapper .top main .burger .type {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .top main .burger .type .image {
  width: 50%;
  height: auto;
  border: 1px solid #e1e3e2;
}

.wrapper .top main .burger .type h4 {
  width: 50%;
  text-align: center;
  white-space: normal;
  color: #3d6351;
}

.wrapper .top main .burger .type .choice {
  width: 50%;
  height: auto;
  padding: 5px;
  border: 1px solid #b4cfc2;
}

.wrapper .top main .stuffing {
  margin: 0 auto;
  display: none;
  /*display: block;*/
}

.wrapper .top main .stuffing .stuffing-box {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #e1e3e2;
}

.wrapper .top main .stuffing .stuffing-box h3 {
  margin: auto 20px;
  color: #adc4b9;
}

.wrapper .top main .stuffing .stuffing-box .type {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .top main .stuffing .stuffing-box .type .image {
  width: 50%;
  height: auto;
  border: 1px solid #e1e3e2;
}

.wrapper .top main .stuffing .stuffing-box .type h4 {
  width: 50%;
  text-align: center;
  white-space: normal;
  color: #3d6351;
}

.wrapper .top main .stuffing .stuffing-box .type .choice {
  width: 50%;
  height: auto;
  padding: 5px;
  border: 1px solid #b4cfc2;
}

.wrapper .top main .options {
  margin: 0 auto;
  display: none;
  /*display: block;*/
}

.wrapper .top main .options .options-box {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #e1e3e2;
}

.wrapper .top main .options .options-box h3 {
  margin: auto 20px;
  color: #adc4b9;
}

.wrapper .top main .options .options-box .type {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .top main .options .options-box .type .image {
  width: 50%;
  height: auto;
  border: 1px solid #e1e3e2;
}

.wrapper .top main .options .options-box .type h4 {
  width: 50%;
  text-align: center;
  white-space: normal;
  color: #3d6351;
}

.wrapper .top main .options .options-box .type .choice {
  width: 50%;
  height: auto;
  padding: 5px;
  border: 1px solid #b4cfc2;
}

.wrapper footer {
  margin: 0 auto;
  width: 700px;
  min-height: 100px;
  background-color: #e1e3e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*border: 1px solid green;*/
}

.wrapper footer .order {
  margin: 0 auto;
  display: none;
  /*display: block;*/
}

.wrapper footer .order .order-box {
  margin: 10px auto;
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*border: 1px solid violet;*/
}

.wrapper footer .order .order-box h3 {
  margin: auto 20px;
  color: #68736e;
}

.wrapper footer .order .order-box .order-headings {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper footer .order .order-box .order-headings h4 {
  color: #3d6351;
  font-size: 16px;
}

.wrapper footer .order .order-box .order-parts {
  margin: 0 auto;
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper footer .order .order-box .order-parts .part-box {
  margin: 0 auto;
  width: 23%;
}

.wrapper footer .order .order-box .order-parts .order-part {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  border: 1px solid #3d6351;
}

.wrapper footer .order .order-box .footer-line {
  color: #68736e;
  height: 2px;
}

.wrapper footer .order .order-box .order-totals {
  margin: 0 auto;
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper footer .order .order-box .order-totals .order-total {
  width: 23%;
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: center;
}
/*# sourceMappingURL=fast_food.css.map */